/* ===============
   ===============
      VARIABLES
   ===============
   ===============*/

:root {
    --bgcolor-green: #1abc9c;
    --bgcolor-header: #2c3e50; /* sta anche nel superfooter*/
    --bgcolor-footer: #3a546d;
}

/* ===============
   ===============
    COLORS & BG
   ===============
   ===============*/

   .ms-bgcolor-header {
    background-color: var(--bgcolor-header);
   }

   .ms-bgcolor-footer {
    background-color: var(--bgcolor-footer);
   }

   .ms-bgcolor-green {
    background-color: var(--bgcolor-green);
   }

   /* ===============
   ===============
    MY STYLE
   ===============
   ===============*/

   /* ==========
      HEADER NAV
      ========== */
   .ms-nav ul {
      display: flex;
      justify-content: end;
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
   }
   .ms-nav li {
      padding: 0 0.5rem;
   }

   .ms-nav a {
      color: white;
      text-decoration: none;
   }

   .ms-nav button {
      border-style: none;
   }

   /* ==========
      HEADER LOGO
      ========== */

   #logo {
      color: white;
   }

   #portfolio .col-12 {
      border: 3px solid black;
   }